
body{
    background-color:whitesmoke;

}


.leftForm input{
    width: 50%;
    padding: 10px;
    margin: 10px;

}

.rightForm input{
    width: 50%;
    padding: 10px;
    margin: 10px;

}
.rightForm {
    display:inline-block;
	width:45%;
    padding: 10px;
    margin: 10px;
	vertical-align: top;
}
.leftForm {
    display:inline-block;
	width:45%;
    padding: 10px;
    margin: 10px;
	vertical-align: top;
}
.top{
    height: 60px;
    background-color: aquamarine;
    margin: -7px;
    padding: 10px;
}
.top h2{
    display:inline-block;
    margin-right: 20px;
}
.top select{
    display:inline-block;
   border: none;
   background-color: transparent;
   
}
.bottom{
    background-color:#E3E3E3;
    height: 45px;
    padding-left: 550px;
    padding-right: 450px;
    padding-top: 10px;
    padding-right: 50px;
    
}
.bottom input{
    background-color: aquamarine;
    height: 20px;
    width: 100px;
    margin-bottom: 40px;
    margin-right: 10px;
    
}
.paymentMode input{
   
    margin-left: 70px;
    margin-right: -250px;
}



